/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@mixin theme-color-grabber($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    mat-toolbar-row:hover {
        span {
            color: mat-color($accent);
        }
        mat-icon {
            color: mat-color($accent);
        }
    }
}